<template>
  <div class="slds-section slds-is-open">
<!-- 
    <div if:true={mostra}>
      <lightning-button class="btnEdit" onclick={formViaWeb} variant="brand" label="Recategorizar" title="Recategorizar"></lightning-button>
    </div>
-->
    <div if:true={isVisible} aria-hidden="true" class="slds-section__content" id="tabulacao">
      <lightning-combobox
        name="motivo"
        label="Motivo"
        value={getMotivo}
        placeholder="Escolha um motivo"
        options={lstMotivo}
        onchange={handleChangeMotivo}
        disabled={disabledMotivo}
      >
      </lightning-combobox>
      
      <lightning-combobox
        name="submotivo"
        label="SubMotivo"
        value={getSubMotivo}
        placeholder="Escolha um submotivo"
        options={lstSubMotivo}
        onchange={handleChangeSubMotivo}
        disabled={disabledSubMotivo}
      >
      </lightning-combobox>
     
      <lightning-combobox
        if:false={disabledMeioDeAcesso}
        name="meioDeAcesso"
        label="Meio de acesso"
        value={getMeioDeAcesso}
        placeholder="Escolha um meio de acesso"
        options={lstMeioAcesso}
        onchange={handleChangeMeioDeAcesso}
        disabled={leituraMeioDeAcesso}
      >
      </lightning-combobox>
      
      <lightning-combobox
        if:false={disabledSubMotivo2}        
        name="SubMotivo2"
        label="SubMotivo 2"
        value={getSubMotivo2}
        placeholder="Escolha um submotivo 2"
        options={lstSubMotivo2}
        onchange={handleChangeSubMotivo2}
        disabled={leituraSubMotivo2}
      >
      </lightning-combobox>

      
      <template if:true={HasCodigoDeCliente}>
        <lightning-record-edit-form
        style="width:100%"
        object-api-name="Case"
        record-id={recordId}
      >
          <lightning-combobox
              name="CodigoDeCliente__c"
              label="Código de Cliente (Secundário)"
              value={valueCodigoDeCliente}
              placeholder="Search Códigos..."
              options={lstCodigosDeCliente}
              onchange={handleChangeCodigoDeCliente} 
              disabled={disabledMotivo}>
          </lightning-combobox>
          <br/>
          <template if:false={disabledMotivo}>
            <div class="slds-align_absolute-center slds-p-around_medium">
              <lightning-button class="slds-button" type="submit" name="update" label="Cancelar" onclick={cancelaCatalogoDeServico}></lightning-button>
              <lightning-button class="slds-button" variant="brand" type="submit" name="update" label="Salvar" onclick={confirmaCatalogoDeServico}></lightning-button>
            </div>
          </template>
      </lightning-record-edit-form>
      </template>

    </div> 
    <template if:true={temObservacoes}>
      <div class="slds-modal__content slds-p-around_medium" style="color: #FFC000; font-weight:bold;">
        <p style="float:left; text-align: center;"> {observacoes}</p>
      </div> 
    </template>
    <template if:true={acessarPlataforma}>
      <div class="slds-modal__content slds-p-around_medium">
        <b><a href="https://prd-gretrv3rpezs-ia.integration.ocp.oraclecloud.com/ic/process/workspace/faces/startApplication.jspx" target="_blank">Acessar a plataforma</a>
        <p>Você será direcionado para outro ambiente, sua solicitação deverá ser criada e acompanhada pela plataforma OCI. Seu caso será finalizado automaticamente.</p></b>
      </div> 
    </template>
    <div class="slds-modal__container" style="position: relative; width: 100%; padding:0; margin:0">
      
      
      
      <template if:false={HasCodigoDeCliente}>
      <lightning-record-form
          style="width:100%"
          object-api-name="Case"
          record-id={recordId}
          fields={FIELDS_CUSTOM}  
          mode={modoVisualizacao}
          columns="2"
          onsubmit={confirmaCatalogoDeServico}
          oncancel={cancelaCatalogoDeServico} 
          class="full forcePageBlock forceRecordLayout"      
      ></lightning-record-form>
    </template>
      <div style="display:none">
          <lightning-button
          id="salvar"
          onclick={confirmaCatalogoDeServico}
          >
        </lightning-button>
      </div>
    </div>
     <div if:true={showKBA}>
      <c-validate-Kba  
      cpf={CPF_KBA}
      onretornokba={onValidateKba}>
      </c-validate-Kba>

      
    </div> 
    
    <template if:true={mostrarPID}>
      <div class="slds-modal__content slds-p-around_medium">
        <p><b>Para esse motivo e submotivo é necessário a confirmação de identificação positiva</b></p><br/>
        <template if:true={mostrarPergunta1}>
          <p><span style="color:red">1.{pidMostrar.pergunta1}</span><br/>
            <b>Resposta esperada: </b>{pidMostrar.resposta1}<br/>
            <lightning-input type="checkbox" label="Respondeu corretamente?" value={corretoPergunta1} onchange={handleChangePergunta1}> </lightning-input><br/>
          </p>
        </template>
        <template if:true={mostrarPergunta2}>
          <p><span style="color:red">2.{pidMostrar.pergunta2}</span><br/>
            <b>Resposta esperada: </b>{pidMostrar.resposta2}<br/>
            <lightning-input type="checkbox" label="Respondeu corretamente?" value={corretoPergunta2} onchange={handleChangePergunta2}> </lightning-input><br/>
          </p>
        </template>
        <template if:true={mostrarPergunta1}>
          <p><span style="color:red">3.{pidMostrar.pergunta3}</span><br/>
            <b>Resposta esperada: </b>{pidMostrar.resposta3}<br/>
            <lightning-input type="checkbox" label="Respondeu corretamente?" value={corretoPergunta3} onchange={handleChangePergunta3}> </lightning-input><br/>
          </p>
        </template>
        <template if:true={mostrarPergunta4}>
          <p><span style="color:red">4.{pidMostrar.pergunta4}</span><br/>
            <b>Resposta esperada: </b>{pidMostrar.resposta4}<br/>
            <lightning-input type="checkbox" label="Respondeu corretamente?" value={corretoPergunta4} onchange={handleChangePergunta4}> </lightning-input><br/>
          </p>
        </template>
        <template if:true={mostrarPergunta5}>
          <p><span style="color:red">5.{pidMostrar.pergunta5}</span><br/>
            <b>Resposta esperada: </b>{pidMostrar.resposta5}<br/>
            <lightning-input type="checkbox" label="Respondeu corretamente?" value={corretoPergunta5} onchange={handleChangePergunta5}> </lightning-input><br/>
          </p>
        </template>
        <template if:true={mostrarPergunta6}>
          <p><span style="color:red">6.{pidMostrar.pergunta6}</span><br/>
            <b>Resposta esperada: </b>{pidMostrar.resposta6}<br/>
            <lightning-input type="checkbox" label="Respondeu corretamente?" value={corretoPergunta6} onchange={handleChangePergunta6}> </lightning-input><br/>
          </p>
        </template>
        <template if:true={mostrarPergunta7}>
          <p><span style="color:red">7.{pidMostrar.pergunta7}</span><br/>
            <b>Resposta esperada: </b>{pidMostrar.resposta7}<br/>
            <lightning-input type="checkbox" label="Respondeu corretamente?" value={corretoPergunta7} onchange={handleChangePergunta7}> </lightning-input><br/>
          </p>
        </template>
        <template if:true={mostrarPergunta8}>
          <p><span style="color:red">8.{pidMostrar.pergunta8}</span><br/>
            <b>Resposta esperada: </b>{pidMostrar.resposta8}<br/>
            <lightning-input type="checkbox" label="Respondeu corretamente?" value={corretoPergunta8} onchange={handleChangePergunta8}> </lightning-input><br/>
          </p>
        </template>
      </div> 
    </template>
  </div>
</template>