<template>
  <div  if:true={showReenvioSenha} class="slds-section slds-is-open">
    <div  if:true={showReenvioSenha} aria-hidden="true" class="slds-section__content" id="listaContatos" >
        <lightning-combobox
          name="Contato"
          label="Escolha o operador para reenvio de senha:"
          value={value}
          options={contatos}
          onchange={handleChange}
        >
        </lightning-combobox>
        <br>
        <lightning-button 
          onclick={handleAccessClick}
          variant="brand"
          label="Reenviar senha"
          title="Reenviar senha"
          type='button'
         ></lightning-button>
    </div>
  </div>
    
  <div if:true={acessarUrl}>
    <iframe src={publicURL} frameborder="0" height="700px" width="100%" 
    style="overflow:hidden"></iframe>
  </div>
  <div if:false={showReenvioSenha}>
    <h2 style="color:red; text-align: center; font-size: 20px"><strong>Para esse motivo e submotivo não é permitido o reenvio de senha!</strong></h2>
  </div>
</template>