.slds-box{
    background-color: white;
}

div{
    background-color: white;
}

.negrito{
    font-weight: bold;
}

.space{
    margin-bottom: 5px;
}

.iconeCaso{
    margin-left: -11px;
}


.slds-card{
    padding-top: 20px;
}

.slds-col{
    margin-right: 10px !important;
}

a{
    padding-top: 20px !important;
}

.modalBranco{
    background: var(--lwc-colorBackgroundAlt,rgb(255, 255, 255));
}

.alinha{
    background-color: #F3F2F2 !important;
    padding-left: 15px;
    padding-right: 15px;
    --sds-c-card-color-background: #F3F2F2;
    padding-top: 10px;
    border: #F3F2F2 1px solid;
}