<template>
    <div class="alinha">
        <lightning-card class="slds-card" title={tituloCard} icon-name="standard:case">
            <p></p>
        </lightning-card>
    </div>
    <div if:true={hasCases}>
        <lightning-accordion allow-multiple-sections-open>
            <template for:each={listMotivoSubMotivo} for:item="motSubmot">
                <lightning-accordion-section id={motSubmot.key} label={motSubmot.key} key={motSubmot.key} name="accordion1">
                    <template for:each={motSubmot.value} for:item="caso">
                        <div key={caso.Id} class="slds-box slds-p-around_small slds-var-m-top_x-small slds-var-m-bottom_medium slds-m-horizontal_none">
                            <div class="section-group slds-p-bottom_large">
                                <div class="slds-size_1-of-1 slds-p-horizontal_medium">
                                    <div class="slds-text-heading_small slds-var-p-left_medium" key={caso.Id} id={caso.Id} data-id={caso.Id} onclick={recordPage}>
                                        <lightning-icon class="iconeCaso" icon-name="utility:case" size="medium"></lightning-icon>
                                        <a href="javascript:void(0);" tabindex="0">{caso.CaseNumber}</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="slds-grid slds-wrap space">
                                <div class="slds-size_1-of-1 slds-p-horizontal_medium">
                                    <b>Área:</b>  {caso.Area__c}
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap space">
                                <div class="slds-size_1-of-1 slds-p-horizontal_medium">
                                    <b>Status:</b>  {caso.Status}
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap space">
                                <div class="slds-size_1-of-1 slds-p-horizontal_medium">
                                    <b>Proprietário:</b>  {caso.Owner.Name}
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap space">
                                <div class="slds-size_1-of-1 slds-p-horizontal_medium">
                                    <b>Data/Hora de Criação: </b> <lightning-formatted-date-time value={caso.CreatedDate}></lightning-formatted-date-time>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap space">
                                <div class="slds-size_1-of-1 slds-p-horizontal_medium">
                                    <b>Descrição:</b> <br> 
                                    <textarea readonly rows="6" cols="100"> {caso.Description} </textarea>
                                </div>
                            </div>
                            
                        </div>
                    </template>
                </lightning-accordion-section>
            </template>
                
        </lightning-accordion>
    </div>
    <div if:false={hasCases}>
        <h2 style="color:red; text-align: center; font-size: 20px"><strong>Esse cliente não possui casos relacionados.</strong></h2>
    </div>
</template>