<template>
    <div if:false={show}>
        <h2 if:true={messagemInformativa} id="mensagem" style="color:red; text-align: center; font-size: 20px"><strong>{showMessage}</strong></h2>
        <h2 if:true={success} id="mensagemSuccess" style="color:green; text-align: center; font-size: 20px"><strong>{showMessage}</strong></h2>
  
    </div>
    <div if:true={spinner} class="spin">
        <lightning-spinner variant="brand" alternative-text="Carregando" size="large"></lightning-spinner>
    </div>
       
    <template if:false={spinner}>

        <c-componente-sem-acesso if:true={semAcesso} mensagem={mensagem}></c-componente-sem-acesso>

        <template if:false={semAcesso}>
            <div class="slds-box">
               
                <template if:true={cancelamentoCadastroPositivoPF}>
                    <p class="slds-item_label slds-truncate slds-align_absolute-center slds-border_bottom slds-m-top_x-small" style="font-size:1.2rem;text-align:center;">
                        <b>Cancelamento Cadastro Positivo PF</b>
                    </p>
                    <br>
                    <br>

                    <div class="slds-media__body">
                        <p>
                            Deseja realizar o <b>cancelamento</b>?
                        </p>
                    </div>
                    <br>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="CPF" value={documentoCliente} disabled></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Tipo Cliente" value={tipoCliente} disabled></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-text-align_right slds-var-p-top_x-large">
                        <lightning-button  label="Confirmar" title="Confirmar" onclick={handleCancelamentoCadastroPositivo} variant="brand"></lightning-button >
                    </div>
                </template>

                <template if:true={cancelamentoCadastroPositivoPJ}>
                    <p class="slds-item_label slds-truncate slds-align_absolute-center slds-border_bottom slds-m-top_x-small" style="font-size:1.2rem;text-align:center;">
                        <b>Cancelamento Cadastro Positivo PJ</b>
                    </p>
                    <br>
                    <br>

                    <div class="slds-media__body">
                        <p>
                            Deseja realizar o <b>cancelamento</b>?
                        </p>
                    </div>
                    <br>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Radical do CNPJ ¹ " value={documentoCliente} disabled></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Tipo Cliente" value={tipoCliente} disabled></lightning-input>
                            </div>
                        </div>
                        
                    </div>
                    <div class="slds-text-align_left slds-var-p-top_x-large">
                        <p>
                            <br>
                            ¹ O radical do CNPJ são os 8 primeiros dígitos do documento.
                        </p>
                    </div>
                    <div class="slds-text-align_right slds-var-p-top_x-large">
                        <lightning-button  label="Confirmar" title="Confirmar" onclick={handleCancelamentoCadastroPositivo} variant="brand"></lightning-button >
                    </div>
                </template>

                <template if:true={reautorizacaoCadastroPositivoPF}>
                    <p class="slds-item_label slds-truncate slds-align_absolute-center slds-border_bottom slds-m-top_x-small" style="font-size:1.2rem;text-align:center;">
                        <b>Reautorização do Cadastro PF</b>
                    </p>
                    <br>
                    <br>

                    <div class="slds-media__body">
                        <p>
                            Realize o cadastro abaixo:
                        </p>
                    </div>
                    <br>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="CPF" value={documentoCliente} disabled></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Tipo Cliente" value={tipoCliente} disabled></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Nome Completo" value={nomeCompleto} onchange={handleChangeNomeCompleto} required></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="date" label="Data Nascimento" value={dataNascimento} onchange={handleChangeDataNascimento} date-style="short" required></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="RG" value={rg} onchange={handleChangeRG} required></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Órgão Expedidor" value={orgaoExpedidor} onchange={handleChangeOrgaoExpedidor} required></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col" style="width: 240px;">
                            <div class="slds-p-around_medium lgc-bg">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">Sexo</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select
                                                name="sexo"
                                                class="slds-select"
                                                onchange={handleChangeSexo}
                                                required
                                            >
                                                <option value="">Selecione...</option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Feminino">Feminino</option>
                                                <option value="Não+Informado">Não Informado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="E-mail" value={email} onchange={handleChangeEMail} required></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">UF</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select
                                                name="uf"
                                                class="slds-select"
                                                onchange={handleChangeUf}
                                                required
                                            >
                                                <option value="">Selecione...</option>
                                                <option value="AC">AC</option>
                                                <option value="AL">AL</option>
                                                <option value="AP">AP</option>
                                                <option value="AM">AM</option>
                                                <option value="BA">BA</option>
                                                <option value="CE">CE</option>
                                                <option value="DF">DF</option>
                                                <option value="ES">ES</option>
                                                <option value="GO">GO</option>
                                                <option value="MA">MA</option>
                                                <option value="MT">MT</option>
                                                <option value="MS">MS</option>
                                                <option value="MG">MG</option>
                                                <option value="PA">PA</option>
                                                <option value="PB">PB</option>
                                                <option value="PR">PR</option>
                                                <option value="PE">PE</option>
                                                <option value="PI">PI</option>
                                                <option value="RJ">RJ</option>
                                                <option value="RN">RN</option>
                                                <option value="RS">RS</option>
                                                <option value="RO">RO</option>
                                                <option value="RR">RR</option>
                                                <option value="SC">SC</option>
                                                <option value="SP">SP</option>
                                                <option value="SE">SE</option>
                                                <option value="TO">TO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col" style="width: 370px;">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Cidade" value={cidade} onchange={handleChangeCidade} required></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="CEP" value={cep} onchange={handleChangeCep} required></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col" style="width: 65%;">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Endereço" value={endereco} onchange={handleChangeEndereco} required></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col" style="width: 35%;">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Bairro" value={bairro} onchange={handleChangeBairro} required></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-text-align_right slds-var-p-top_x-large">
                        <lightning-button label="Cadastrar" title="Cadastrar" onclick={handleReautorizacaoCadastroPositivo} variant="brand"></lightning-button>
                    </div>
                </template>

                <template if:true={reautorizacaoCadastroPositivoPJ}>
                    <p class="slds-item_label slds-truncate slds-align_absolute-center slds-border_bottom slds-m-top_x-small" style="font-size:1.2rem;text-align:center;">
                        <b>Reautorização do Cadastro PJ</b>
                    </p>
                    <br>
                    <br>

                    <div class="slds-media__body">
                        <p>
                            Realize o cadastro abaixo:
                        </p>
                    </div>
                    <br>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Radical do CNPJ ¹" value={documentoCliente} disabled></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Tipo Cliente" value={tipoCliente} disabled></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Razão Social" value={nomeCompleto} onchange={handleChangeNomeCompleto} required></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="date" label="Data da Constituição" value={dataNascimento} date-style="short" onchange={handleChangeDataNascimento} required></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="E-mail" value={email} onchange={handleChangeEMail} required></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label">UF</label>
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select
                                                name="uf"
                                                class="slds-select"
                                                onchange={handleChangeUf}
                                                required 
                                            >
                                                <option value="">Selecione...</option>
                                                <option value="AC">AC</option>
                                                <option value="AL">AL</option>
                                                <option value="AP">AP</option>
                                                <option value="AM">AM</option>
                                                <option value="BA">BA</option>
                                                <option value="CE">CE</option>
                                                <option value="DF">DF</option>
                                                <option value="ES">ES</option>
                                                <option value="GO">GO</option>
                                                <option value="MA">MA</option>
                                                <option value="MT">MT</option>
                                                <option value="MS">MS</option>
                                                <option value="MG">MG</option>
                                                <option value="PA">PA</option>
                                                <option value="PB">PB</option>
                                                <option value="PR">PR</option>
                                                <option value="PE">PE</option>
                                                <option value="PI">PI</option>
                                                <option value="RJ">RJ</option>
                                                <option value="RN">RN</option>
                                                <option value="RS">RS</option>
                                                <option value="RO">RO</option>
                                                <option value="RR">RR</option>
                                                <option value="SC">SC</option>
                                                <option value="SP">SP</option>
                                                <option value="SE">SE</option>
                                                <option value="TO">TO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col" style="width: 370px;">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Cidade" value={cidade} required></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="CEP" value={cep} required></lightning-input>
                            </div>
                        </div>
                    </div>

                    <div class="slds-grid slds-gutters">
                        <div class="slds-col" style="width: 65%;">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Endereço" value={endereco} required></lightning-input>
                            </div>
                        </div>
                        <div class="slds-col" style="width: 35%;">
                            <div class="slds-p-around_medium lgc-bg">
                                <lightning-input type="text" label="Bairro" value={bairro} required></lightning-input>
                            </div>
                        </div>
                    </div>
                    <div class="slds-text-align_left slds-var-p-top_x-large">
                        <p>
                            <br>
                            ¹ O radical do CNPJ são os 8 primeiros dígitos do documento.
                        </p>
                    </div>
                    <div class="slds-text-align_right slds-var-p-top_x-large">
                        <lightning-button label="Cadastrar" title="Cadastrar" onclick={handleReautorizacaoCadastroPositivo} variant="brand"></lightning-button>
                    </div>

                   
                </template>

            </div>
        </template>

    </template>
</template>