<template>
    <div if:true={spinner} class="spin">
        <lightning-spinner variant="brand" alternative-text="Carregando" size="large"></lightning-spinner>
    </div>
       
    <template if:false={spinner}>

        <template if:false={isModalOpen}>
            <lightning-card >
                <div if:true={btnCriarOperador} class="slds-box slds-box_x-small">
                    <lightning-button variant="brand" label="Criar Operador" title="Criar Operador" onclick={handleCriarOperadorClick} class="slds-m-left_x-small"></lightning-button>
                </div>
                <div if:true={mensagemSemAcao} class="slds-box slds-box_x-small">
                    Nenhuma ação disponível para este caso.
                </div>
            </lightning-card>
        </template>

        <template if:true={isModalOpen}>
            <template if:true={isIFrame}>
                <lightning-icon icon-name="utility:back" alternative-text="Voltar" title="Voltar" onclick={handleVoltarClick}>
                </lightning-icon>
        
                <iframe src={URL} frameborder="0" height="900px" width="100%"></iframe>
            </template>
        </template>

    </template>
</template>