<template>
    <lightning-card> 
        <div class="geral">
            <div class="btn">
                <button value="_" title="_" onclick={minimize} style="background-color: #005a9a;">_</button>
                <button value="x" title="x" onclick={close} style="background-color: red;">x</button>
            </div>

            <div class="disclaimer">
                <!-- <p>Ao clicar em "<b>iniciar o chat</b>", declaro ciência e expressamente AUTORIZO a Boa Vista, nos termos das <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2014/lei/l12965.htm" target="_blank">Leis 12.965/2014 </a> e <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm" target="_blank"> Lei 13.709/2018</a>, de forma livre, a proceder o tratamento dos dados informados, para a finalidade única e exclusiva de atendimento à minha solicitação.</p> -->
                <p>Ao iniciar o chat, declaro ciência e expressamente AUTORIZO a Boa Vista, nos termos das <a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2014/lei/l12965.htm" target="_blank">Leis 12.965/2014 </a> e <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm" target="_blank"> Lei 13.709/2018</a>, de forma livre, a proceder o tratamento dos dados informados, para a finalidade única e exclusiva de atendimento à minha solicitação.</p>
                <p>Clique <y onclick={redirectHome} target="_blank">aqui</y> para pesquisar uma resposta para a sua dúvida/solicitação.</p>
            </div>
        </div>
    </lightning-card>
</template>