<!-- sldsValidatorIgnore -->
<template>
    <!-- lightning button for open modal window -->
   
    <!--Use template if:true to display/hide popup based on isModalOpen value--> 
    <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section if:false={exibirPerguntas} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button if:false={questionario} class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{titulo}</h2>
                    
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <p ><b>
                    </b></p>
                    <p><b>{paragrafo}
                    </b></p>
                    <div if:true= "{exibaAlternativas}" class="slds-modal__content slds-p-around_medium">
                    
                        <lightning-radio-group name="alternativas"
                          onchange={handleChange}
                          options={options}
                          value={value}
                          type="radio"></lightning-radio-group>
    
                    </div>
                </div>
               
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button if:false={questionario} class="slds-button slds-button_neutral" onclick={closeModal} title="Não">Não</button>
                    <button if:false={questionario} class="slds-button slds-button_brand" onclick={submitDetails} title="Sim">Sim</button>
                    <button if:true={questionario} class="slds-button slds-button_brand" onclick={proximaPergunta} title="ProximaPergunta">{finaliza} </button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

 </template>