.geral{
    text-align: center;
    /* border: 1px solid red; */
}

.geral a{
    color: blue;
}
.geral y{
    color: blue;
    cursor: pointer;
}

.disclaimer{
    text-align: justify;
    width: 90%;
    font-size: 9pt;
    margin: auto;
    clear: both;
}

.disclaimer b{
    color: red;
}

.disclaimer p{
    font-weight: bold;
}

.btn{
    float: right;
    display: flex;
    /* border: 1px solid red; */
    position: relative;
    margin-right: 5px;
}

.btn button{
    width: 25px;
    height: 25px;
    color: #fff;
    font-weight: bold;
    border: none;
    margin: -15px 2px 4px 2px;
    border-radius: 5px;
    font-family: "Lucida Console", sans-serif;
}