<template>
    <div if:true={spinner} class="spin">
        <lightning-spinner variant="brand" alternative-text="Carregando" size="large"></lightning-spinner>
    </div>
       
    <template if:false={spinner}>

        <c-componente-sem-acesso if:true={semAcesso} mensagem={mensagem}></c-componente-sem-acesso>

        <template if:false={semAcesso}>
            <iframe src={url} frameborder="0" height="900px" width="100%"></iframe>
        </template>

    </template>
</template>