<template>
    <form action={url} method="POST"  target="iframe_suafatura" id="form" onsubmit={enviar} class='formSuaFatura'> 

        <input type="hidden" name="lu_descr" value={lu_descr}/>
        <input type="hidden" name="lu_codig" value={lu_codig}/>
        <input type="hidden" name="nome_cliente" value={nome_cliente}/> 
        <input type="hidden" name="sfid" value={sfid}/>
     </form> 

    <iframe name="iframe_suafatura" frameborder="0" height="900px" width="100%">
    </iframe>
</template>