.container{

    padding: 40px;
    width: auto;
    height: auto;
}

.fields{

    padding: 10px;
}
.btncontainer{
 text-align: center;  padding: 15px;
}

.combobox{
    height:100px;
    overflow: hidden;
}