<template>
    <div if:true={spinner} class="spin">
        <lightning-spinner variant="brand" alternative-text="Carregando" size="large"></lightning-spinner>
    </div>
    <div if:false={spinner} class="container">
        
        <lightning-card title="Criar Caso" icon-name="standard:case">
            <lightning-combobox
                    name="RecordType"
                    label="Tipo de Registro"
                    value={tipoRegistro}
                    placeholder="Escolher o Tipo de Registro"
                    options={options}
                    onchange={handleChange}>
            </lightning-combobox>
            <br>
            <lightning-record-edit-form
                id="recordViewForm"
                record-id={recordIdCaso}
                record-type-id={recordTypeId}
                object-api-name="Case"
                onsubmit={handleSubmit}
                onsuccess={handleSubmit}
                oncancel={handleCancel}
            
            >
            <div class="slds-grid">
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field if:true={carregouContatos} class="fields" field-name="Description"> </lightning-input-field>
                    
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <div class="combobox">
                        <lightning-combobox if:true={carregouContatos}
                            dropdown-alignment="auto"
                            name="Contato"
                            label="Nome do Contato"
                            value={value}
                            options={contatos}
                            onchange={handleChange2}
                            variant="label-inline" 
                    ></lightning-combobox>
                    </div>
                </div>
                
        </div>
       
       
            <div class="btncontainer">
                <lightning-button class="fields" type="submit" variant="brand" label="Salvar" ></lightning-button>
                <lightning-button class="fields" type="cancel" variant="light" label="Cancelar" onclick={handleCancel}></lightning-button>
            </div>
            
            </lightning-record-edit-form>
            
            
        </lightning-card>

    </div>
    
</template>