<apex:page standardController="Case" extensions="IFramePortalControllerCase" showHeader="true" sidebar="true">
  
    <Script type="text/javascript">

        function post(path, params, method) {
            debugger;
            method = method || "POST"; 
        
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);
            form.setAttribute("target", "_blank");
        

            var element1 = document.createElement("input"); 
            var element2 = document.createElement("input"); 
            var element3 = document.createElement("input"); 
            var element4 = document.createElement("input"); 
            var element5 = document.createElement("input"); 


            element1.value='Suporte';
            element1.name="lu_descr";
            element1.type = "hidden";
            form.appendChild(element1);  

            element2.value= "{!Case.CodigoCliente__c}" ; //'01304601';
            element2.type = "hidden";
            element2.name="lu_codig";
            form.appendChild(element2);

            //element3.value='salesforce';
            //element3.name="lu_from";
            //element3.type = "hidden";
            //form.appendChild(element3);
            
            //element4.value='loginunificado';
            //element4.name="origem";
            //element4.type = "hidden";
            //form.appendChild(element4);

            element5.value="{!token}"; 
            element5.type = "hidden";
            element5.name="sfid"; 
            form.appendChild(element5);
        
            document.body.appendChild(form);
            form.submit();
        }
    </Script>  

  <form action=""  method="POST" > 

    <input type="submit" style="color: rgb(1, 118, 211); background-color:transparent; border-radius: 5px; height:26px; cursor:pointer; padding:0px 10px; border:1px solid #aca9a9;" value="Abrir Portal Sua Fatura" onclick="post('{!objConfiguracao.Url__c}','params','POST')">  </input>

  </form>

</apex:page>