<template>
    <div class="slds-illustration slds-illustration_large" aria-hidden="true">
        <img src="/img/chatter/OpenRoad.svg" class="slds-illustration__svg" alt=""/>
        <div class="slds-text-color_weak">
            <h3 class="slds-text-heading_medium">{mensagem}</h3>
        </div>
    </div>
</template>