<template>
    <div class="slds-card slds-card_boundary forceBaseCard forceKnowledgeArticleSearchDesktop">

        <div class="slds-card__header slds-grid">
            <span class="slds-card__header-title slds-truncate">Script Relacionado</span>
        </div>
        <div class="slds-card__body slds-card__body--inner">
        
            <div class="slds-p-top_medium">
                <div class="statusCard runtime_service_predictionsEinsteinArticleSuggestionsCard" data-aura-rendered-by="154:1310;a" data-aura-class="runtime_service_predictionsEinsteinArticleSuggestionsCard">
                </div>
                <hr class="statsHR">
            </div>

            <lightning-layout>
                <lightning-layout-item>
                    <template if:true={data} >
                        <lightning-layout>
                            <lightning-layout-item>
                                {data.length} artigo(s) encontrado
                            </lightning-layout-item>
                         </lightning-layout>
                        </BR>   
                         <lightning-layout>
                            <lightning-layout-item>                                    
                                    <template for:each={data} for:item="art">
                                            <!-- Simple -->
                                            <article key={art.id} class="slds-card slds-has-flexi-truncate slds-size_6-of-6">
                                            <div class="slds-card__header slds-grid slds-wrap">
                                                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                                <div class="slds-media__figure">
                                                    <span class="slds-icon_container slds-icon-standard-account" title="account">
                                                    <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">account</span>
                                                    </span>
                                                </div>
                                                <div class="slds-media__body">
                                                    <h2 class="slds-card__header-title">
                                                        <a href="#" class="slds-card__header-link" data-id={art.Id} title={art.descricao__c} onclick={opensubtab}>
                                                            <span>{art.Title}</span>
                                                        </a>
                                                    </h2>
                                                </div>
                                                </header>
                                            </div>
                                            <div class="slds-card__body slds-card__body_inner">{art.Summary}</div>
                                            </article>

                                            <template key={art.id} if:true={isModalOpen}>
                                                <!-- Modal/Popup Box LWC starts here -->
                                                <section key={art.id} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                                                    <div class="slds-modal__container">
                                                        <!-- Modal/Popup Box LWC header here -->
                                                        <header class="slds-modal__header">
                                                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                                                <lightning-icon icon-name="utility:close"
                                                                    alternative-text="close"
                                                                    variant="inverse"
                                                                    size="small" ></lightning-icon>
                                                                <span class="slds-assistive-text">Close</span>
                                                            </button>
                                                            <h2 key={art.id} class="slds-text-heading_medium slds-hyphenate">Informações do Script Relacionado</h2>
                                                        </header>
                                                        <!-- Modal/Popup Box LWC body starts here -->
                                                        <div class="slds-modal__content slds-p-around_medium"  key={art.id} >
                                                            <lightning-formatted-rich-text key={art.Id} value={art.Descricao__c}></lightning-formatted-rich-text>
                                                        </div>
                                                        <!-- Modal/Popup Box LWC footer starts here -->
                                                        <footer class="slds-modal__footer">
                                                            <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                                                            <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                                                        </footer>
                                                    </div>
                                                </section>
                                                <div key={art.id} class="slds-backdrop slds-backdrop_open"></div>
                                            </template>
                                    
                                    </template>                                
                            </lightning-layout-item>                           
                        </lightning-layout>
                     </template>
                    <template if:false={data}><i>Nenhum artigo foi encontrado.</i></template>
                </lightning-layout-item>
            </lightning-layout>
        </div>
    </div>
</template>